* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.fleft {
    float: left;
}

.fright{
    float:right;
}
/****************************Formattazione background***************************/
.bcg-container {
    width: 100vw;
    height: 100vh;
    background-color: #d5dbd8;
}

.green{
    width: 100vw;
    height: 20vh;
    background-color: #00bfa5;
    position: relative;

}

/****************************Formattazione Main***************************/

.main  {
    width: 80vw;
    height: 90vh;
    position: absolute;
    right: 10vw;
    top:5vh;    
}

/****************************Formattazione Aside left***************************/

.left {
    width:30%;
    height: 100%;
    float: left;
}


.avatar{
    width: 100%;
    min-height: 70px;
    background-color: #ededed;
}

.avatar img {
    height: 60px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 50%;
    float: left;
}

.avatar ul {
    float: right;
    list-style-type: none;
    margin-top: 20px;
}

.avatar ul li {
    display: inline;
    font-size: 25px;
    margin-right: 15px;
    cursor: pointer;
    color: #919191;
}

.notifiche{
    width: 100%;
    min-height: 80px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    

}

.notifiche>div {
    padding: 10px 10px;
}



.alert h4  {
    font-weight: lighter;
}

.alert h6  {
    font-weight: lighter;
    text-decoration: underline;
}

.icon {
    background-color: white;
    border-radius: 50%;
}

.icon i{
    font-size: 45px;
    color: inherit;
}

.barra-ricerca {
    width: 100%;
    min-height: 40px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    border:3px solid lightgrey;
}

.magnifer {
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: lightgrey;
    cursor: pointer;
}

.barra-ricerca input {
    width: 80%;
    border: none;
    padding-left: 10px;
}



.conversazioni {
    width: 100%; 
    min-height: calc(90vh - 190px);  
    overflow: auto;
    background-color: white;
}

.chat {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    border-bottom: 0.1px solid  lightgrey;
}

.chat:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.chat img {
        height: 60px;
        /* margin-left: 5px;
        margin-top: 5px; */
        border-radius: 50%;
        float: left;
        padding: 0px 10px;
}

.time {
    display: flex;
    align-items: flex-end;
}



/*************************Formattazione conversazioni singola interna *****************************/
.name {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 5px;
    padding-left: 5px;
}


.time{
    font-size: 10px;;
}

.chat-details {
    width: 100%;
}

.last-msg {
    padding-top: 5px;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
}

.last-msg > span {
    opacity: 0;
    cursor: pointer;
}

.last-msg > span:hover{
    opacity: 1;
}
/****************************Formattazione section right chat***************************/

.chat-right {
    width: 70%;
    height: 100%;
    background-color: dodgerblue;
    float: left;
    position: relative;
}

.main-chat {
    width: 100%;
    height: calc(90vh - 140px);
    overflow: auto;
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fexternal-preview.redd.it%2FrEwFriCkfAtjOb5b-23b4tGGVcuvfaBqamYNJrgxnLM.png%3Fwidth%3D700%26auto%3Dwebp%26s%3Db9cb52f0a75c14a2a4f0dda83382a525aea36b27&f=1&nofb=1');
}

.bottom-bar{
    width: 100%;
    min-height: 70px;
    position: absolute;
    bottom: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.input-chat{
    width: 80%;
}

.input-chat input {
    width: 100%;
    padding: 17px 3px;
    border-radius: 25px;;
}

.emoji  {
    font-size: 25px;
    cursor: pointer;
    color: #919191;
}

.send {
    font-size: 25px;
    cursor: pointer;
    color: #919191;

}

.current-chat {
    padding-left: 10px;
}

.current-chat h4 {
    padding-top: 10px;
    padding-bottom: 5px;;
}


/*****************Conversazione chat*******************************/

.container-chat {
    width: 80%;
    margin: 0 auto;
}



.container-msg {
    width: 100%;
    padding-top: 15px;
}

.messaggio {
    min-width: 30%;
    padding: 15px 10px ;
    border-radius: 15px;
}



.ricevuto {
    background-color: lightgray;
}

.inviato {
    background-color: greenyellow;
}

.template {
    display: none;
}

.template1 {
    display: none;
}




.right-conversation {
    display:none;
}

.active {
    display: block;
}