* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.fleft {
    float: left;
}

.fright{
    float:right;
}
/****************************Formattazione background***************************/
.bcg-container {
    width: 100vw;
    height: 100vh;
    background-color: #d5dbd8;
}

.green{
    width: 100vw;
    height: 20vh;
    background-color: #00bfa5;
    position: relative;

}

/****************************Formattazione Main***************************/

.main  {
    width: 80vw;
    height: 90vh;
    background-color: darkolivegreen;
    position: absolute;
    right: 10vw;
    top:5vh;    
}

/****************************Formattazione Aside left***************************/

.left {
    width:30%;
    height: 100%;
    background-color: darkseagreen;
    float: left;
}


.avatar{
    width: 100%;
    min-height: 70px;
    background-color: lightgreen;
}

.avatar img {
    height: 60px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 50%;
    float: left;
}

.avatar ul {
    float: right;
    list-style-type: none;
    margin-top: 20px;
}

.avatar ul li {
    display: inline;
    font-size: 25px;
    margin-right: 15px;
    cursor: pointer;
}

.notifiche{
    width: 100%;
    min-height: 80px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.notifiche div {
    padding-left: 12px;
}
.icon i{
    font-size: 45px;
}

.barra-ricerca {
    width: 100%;
    min-height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
}

#cerca {
    width: 98%;
    /* margin-left: 1%;
    margin-top: 1%; */
    line-height: 38px;
}


.conversazioni {
    width: 100%; 
    height: calc(90vh - 190px);  
    overflow: auto;
}

.chat {
    width: 100%;
    height: 70px;
    background-color: yellowgreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat img {
        height: 60px;
        /* margin-left: 5px;
        margin-top: 5px; */
        border-radius: 50%;
        float: left;
}

.time {
    display: flex;
    align-items: flex-end;
}
/****************************Formattazione section right chat***************************/

.chat-right {
    width: 70%;
    height: 100%;
    background-color: dodgerblue;
    float: left;
    position: relative;
}

.main-chat {
    width: 100%;
    height: calc(90vh - 140px);
    background-color: lightpink;
}

.bottom-bar{
    width: 100%;
    min-height: 70px;
    position: absolute;
    bottom: 0;
    background-color: lightgreen;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.input-chat{
    width: 80%;
}

.input-chat input {
    width: 100%;
    padding: 17px 3px;
    border-radius: 4px;;
}

.emoji  {
    font-size: 25px;
    cursor: pointer;
}

.send {
    font-size: 25px;
    cursor: pointer;

}

.current-chat {
    padding-left: 10px;
}

.current-chat h4 {
    padding-top: 10px;
    padding-bottom: 5px;;
}